table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

body {
  font-family: 'Inter', sans-serif;
}

.mirage-api-container {
  position: fixed;
  top: 0px;
}

.mirage-gen-search-input {
  height: 15px;
}

.nav-bar {
  color: #fff !important;
  background-color: #000 !important;
  width: 100%;
  overflow: hidden;
}

.nav-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
  background: #000;
  color: #fff;
  white-space: normal;
  cursor: pointer;
}

.nav-item:hover {
  color: #000 !important;
  background-color: cyan !important;
}

.nav-item.active {
  color: #000 !important;
  background-color: cyan !important;
}