{{#if this.isTesting}}
  <MirageGen @left="26%" />
{{/if}}
<div class="row" style="height: 100vh;">
  <div class="p-3 bg-light col-md-2 offset-md-1 position-fixed top-0 bottom-0">
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <LinkTo @route="overview" class="btn btn-toggle align-items-center rounded nav-btn w-100">
          Overview
        </LinkTo>
      </li>
      <li class="mb-1">
        <LinkTo @route="usage" class="btn btn-toggle align-items-center rounded collapsed nav-btn w-100">
          Usage
        </LinkTo>
      </li>
      <li class="mb-1">
        <LinkTo @route="workflow" class="btn btn-toggle align-items-center rounded collapsed nav-btn w-100">
          Work flow
        </LinkTo>
      </li>
      <li class="mb-1">
        <LinkTo @route="testing" class="btn btn-toggle align-items-center rounded collapsed nav-btn w-100">
          Testing
        </LinkTo>
      </li>
      <li class="border-top my-3"></li>
      <li class="mb-1">
        <LinkTo @route="advanced-usage" class="btn btn-toggle align-items-center rounded collapsed nav-btn w-100">
          Advanced Usage
        </LinkTo>
      </li>
    </ul>
  </div>
  <div class="col-md-7 offset-md-3 p-3">
    {{outlet}}
  </div>
</div>