<div>
  <h1>What is ember-mirage-gen?</h1>
  <p>The addon will give the complete Mirage section after receiving the API call.</p>
</div>
<div>
  <h3>Why should we need this?</h3>
  <p>As an ember developer, we always frustrated while writing the test cases. Because we should create the sample response as well as a sample request from the original API call. Particularly in factories, it will make frustration because of faker data.</p>

  <p>For example, if we get the name node as <b>'Robert'</b>, we should give something like a name as a <b>faker.random.firstName()</b> in the factory section. So what should we do? 🤔</p>

  <p>Here our <b>ember-mirage-gen</b> addon comes into play to solve this requirement. Here you can easily copy your faker response from your response.</p>
  <div class="text-center">
    <img src="https://i.imgur.com/5PBVm0m.png" alt="common-image" class="img-fluid" width="83%">
  </div>
</div>
{{outlet}}